## Данные

Доступны медицинские обезличенные данные (оказанные медицинские услуги) за 3 месяца :

[https://disk.yandex.ru/d/CCtVC1jKwqD1vw](https://disk.yandex.ru/d/CCtVC1jKwqD1vw)

Диагнозы брать из столбцов : МКБ10 , МКБ10_1

Описание данных : 

- Дата - дата оказания медицинской услуги
- patient_ID - уникальный ид пациента
- Дата рождения - ДР пациента (заполнено одним значением , не использовать)
- Пол - Пол пациента
- Полис - номер полиса . можно не использовать
- Код услуги - код услуги из прейскуранта
- Наименование услуги - что за услуга была оказана
- Кол-во услуг - количество оказанных услуг
- Стоимость по прайсу - стоимость услуги из прейскуранта
- Стоимость - фактическая стоимость услуги с учетом скидок (не используем)
- МКБ10 - основной код диагноза
- Зуб - номер зуба (для стоматологии)
- doc_id - ид врача (в базовой модели не используем)
- МКБ10_1 - полный список кодов диагноза
- Специальность - специальность врача (в базовой модели не используем)

In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [ ]:
april_1_15 = pd.read_excel('../data/april_1-15.xlsx')
april_16_30 = pd.read_excel('../data/april_16-30.xlsx')
may_1_15 = pd.read_excel('../data/may_1-15.xlsx')
may_16_31 = pd.read_excel('../data/may_16-31.xlsx')
june_1_15 = pd.read_excel('../data/june_1-15.xlsx')
june_16_30 = pd.read_excel('../data/june_16-30.xlsx')

In [ ]:
df = pd.concat([april_1_15, april_16_30, may_1_15, may_16_31, june_1_15, june_16_30], ignore_index=True)

In [4]:
df = pd.read_csv('../data/df.csv')

In [5]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

Переименую столбцы для удобства

In [6]:
df.rename(columns={'Дата':'date_visit', 'Дата рождения':'birth', 'Пол':'gender', 'Полис':'insurance', 'Код услуги':'service_code', 
       'Наименование услуги':'service_name', 'Кол-во услуг':'service_count', 'Стоимость по прайсу':'price', 
       'Стоимость':'price_sale', 'МКБ10':'main_diagnosis', 'Зуб':'tooth', 'МКБ10_1':'all_diagnosis_codes', 'Специальность':'specialization'}, 
         inplace=True)

In [7]:
df.gender = df.gender.astype('category')
df.main_diagnosis = df.main_diagnosis.astype('category')
df.date_visit = pd.to_datetime(df.date_visit)

In [11]:
df = df.drop(['birth', 'insurance', 'tooth', 'doc_id'], axis=1)

Создал новый датафрейм (отсортированный по дате) для манипуляции над ним, в будущем не пригодилось создавать именно новый обьект, можно было и с одним и тем же работать

In [12]:
df_sorted = df.copy()

In [13]:
df_sorted.date_visit = pd.to_datetime(df_sorted.date_visit, format='%Y-%m-%d')

In [14]:
df_sorted = df_sorted.sort_values(['date_visit'])

In [16]:
df_sorted.patient_ID.dropna(inplace=True)

In [17]:
df_sorted = df_sorted[(df_sorted.patient_ID != 0) | (df_sorted.service_name != 'Внесение аванса')]

In [18]:
df_sorted.index = range(df_sorted.shape[0])

Сгруппировал по пациентам

In [19]:
patient_groups = df_sorted.groupby('patient_ID')

In [22]:
df_sorted.drop(['service_name','all_diagnosis_codes',  'specialization'], axis='columns', inplace=True)

Вот именно над следующей ячейкой я работал очень долго

Моя идея заключалась в том, чтобы сначала разбить выборку на кейсы а потом представить каждый кейс единой записью в обучающей выборке

In [23]:
cases = []
counter = 0
for name, group in patient_groups:
    group.date_visit = pd.to_datetime(group.date_visit, format='%Y-%m-%d')
    group = group.sort_values(['date_visit'])
    group['next_visit'] = group['date_visit'].shift(-1)
    group['date_diff'] = group['next_visit'] - group['date_visit']
    group['date_diff'] = group['date_diff'].fillna(timedelta(days=0))
    group = group.reset_index(drop=True)
    group['condition'] = abs((group['date_diff']).dt.days) > 14
    indexes = []
            
    
    if True in group.condition:
        indexes = indexes + group[group.condition == True].index.values.tolist()
        if list(group['condition'])[-1] == False:
            indexes.append(group.index[-1])
        
        cases.append(group[:indexes[0]+1])
        # print(cases[-1])
        # print("***************")
        # print(indexes)
        for i in range(0, len(indexes)-1):
            cases.append(group[indexes[i]+1:indexes[i+1] + 1])
            # print(cases[-1])
            # print("----------------")
    else:
        cases.append(group)
        # print(cases[-1])
    counter = counter + 1
    if counter % 25000 == 0:
        print(counter)

25000
50000
75000
100000
125000
150000

In [129]:
for case in cases:
    case.drop(['next_visit', 'date_diff', 'condition', 'date_visit', 'specialization'], axis='columns', inplace=True)

Здесь я делаю разбивку кода диагноза не несколько частей, думал что буду этим пользоваться, так как рассчитывал что это мне поможет упростить работу с категорией "диагноз"

In [24]:
import re

In [25]:
# prog = re.compile(pattern)
# result = prog.match(string)
def get_letter(string):
    if re.match( r'[A-Z]\d\d[.]\d', string=string):
        return string[0]
    else:
        return '0'
def get_digit_1(string):
    if re.match( r'[A-Z]\d\d[.]\d', string=string):
        return string[1:3]
    else:
        return '0'
def get_digit_2(string):
    if re.match( r'[A-Z]\d\d[.]\d', string=string):
        return string[4]
    else:
        return '0'

In [26]:
diagnoses = df_sorted.main_diagnosis.unique()

Здесь вытаскиваю валидные коды диагнозов, потому что в данных часто встречаются ошибки: записи о взятии анализов зачастую заполнены неправильно и я решил их в начале вообще убрать

In [27]:
right_diagnoses = []
for diag in diagnoses:
    if re.match(r'[A-Z]\d\d[.]\d', string=str(diag)):
        right_diagnoses.append(diag)

In [28]:
for i in range(len(right_diagnoses)):
    right_diagnoses[i] = str(right_diagnoses[i])[:3]

In [29]:
cat_feat = pd.Series(right_diagnoses).unique().tolist()

In [178]:
df_sorted['shorten_diag'] = df_sorted['main_diagnosis'].map(shorten)

Следующая функция сокращает код диагноза так как я решил в бэйзлайне обойтись one-hot кодированием, а для этого нужно было сократить количество переменных

Плюс к этому последняя цифра в коде не несет очень много информации в себе

In [30]:
def shorten(value):
    if re.match(r'[A-Z]\d\d[.]\d', string=str(value)):
        return str(value)[:3]
    elif re.match(r'[A-Z]\d\d', string=str(value)):
        return value

In [30]:
tmp['shorten_diag'] = tmp['main_diagnosis'].map(shorten)

In [58]:
tmp

,date_visit,patient_ID,gender,service_code,service_count,price,price_sale,main_diagnosis,next_visit,date_diff,condition,shorten_diag,0,match
0,2019-05-23,1150188.0,1.0,2030001,1.000000,423,423,NaN,2019-05-28,5 days,False,0,1,NaN
1,2019-05-28,1150188.0,1.0,4102022,1.000000,1759,1759,NaN,2019-05-28,0 days,False,0,1,NaN
2,2019-05-28,1150188.0,1.0,1060001,1.000000,1575,1575,M54.5,2019-05-28,0 days,False,M54,0,True
3,2019-05-28,1150188.0,1.0,4090070,1.000000,1453,1453,NaN,2019-05-28,0 days,False,0,1,NaN
4,2019-05-28,1150188.0,1.0,4106007,1.000000,720,720,NaN,2019-05-29,1 days,False,0,1,NaN
5,2019-05-29,1150188.0,1.0,4020078,1.000000,2150,2150,N84.0,2019-06-19,21 days,True,N84,0,True

In [56]:
tmp['match'] = tmp.main_diagnosis.str.match('[A-Z]\d\d([.]\d)?')

In [61]:
tmp_cols = tmp.pivot(columns=['shorten_diag'], values='match').fillna('0')

In [68]:
tmp_cols

shorten_diag  0   M54   N84
0             0     0     0
1             0     0     0
2             0  True     0
3             0     0     0
4             0     0     0
5             0     0  True

In [31]:
cases_tmp = cases

In [40]:
print(re.match(r'(?:\d*\.\d+|\d+)', '222222,311111'))

<re.Match object; span=(0, 6), match='222222'>

In [41]:
len(cases_tmp)

242120

In [51]:
tmp = cases[1]

In [55]:
tmp.pivot(columns=['shorten_diag'], values='match')

shorten_diag  NaN   H52   I11   M42   Z10
6             NaN   NaN   NaN  True   NaN
7             NaN   NaN   NaN   NaN  True
8             NaN   NaN   NaN   NaN  True
9             NaN   NaN   NaN  True   NaN
10            NaN   NaN   NaN   NaN  True
11            NaN   NaN   NaN   NaN  True
12            NaN   NaN   NaN   NaN  True
13            NaN   NaN   NaN   NaN  True
14            NaN   NaN   NaN   NaN  True
15            NaN   NaN   NaN   NaN   NaN
16            NaN   NaN   NaN   NaN  True
17            NaN   NaN   NaN   NaN  True
18            NaN   NaN   NaN   NaN  True
19            NaN   NaN  True   NaN   NaN
20            NaN   NaN   NaN   NaN   NaN
21            NaN   NaN   NaN   NaN   NaN
22            NaN  True   NaN   NaN   NaN
23            NaN   NaN   NaN   NaN   NaN
24            NaN   NaN   NaN   NaN   NaN
25            NaN   NaN   NaN   NaN   NaN
26            NaN   NaN   NaN   NaN   NaN
27            NaN   NaN   NaN   NaN  True
28            NaN   NaN   NaN   NaN  True
29            NaN   NaN   NaN   NaN  True
30            NaN   NaN   NaN   NaN  True
31            NaN   NaN   NaN   NaN  True
32            NaN   NaN  True   NaN   NaN
33            NaN   NaN   NaN   NaN  True
34            NaN   NaN   NaN   NaN  True

In [61]:
cat_feat_df = pd.Series(cat_feat, name='diagnose')

В следующей ячейке происходит то самое разделение каждого кейса на отдельные записи для обучающей выборки

Над этим кодом по факту тоже очень много времени работал, и сейчас не знаю, кажется такое представление данных для корректного решения задачи совсем не подходит

In [79]:
dicts = []
counter = 0
checks = []
for case in cases:
    case['shorten_diag'] = case['main_diagnosis'].map(shorten)
    case['match'] = case.main_diagnosis.str.match('[A-Z]\d\d([.]\d)?')
    tmp_case = case.pivot(columns=['shorten_diag'], values='match')
    
    if np.nan in tmp_case.columns:
        tmp_case.drop([np.nan], axis=1, inplace=True)
    
    cols = tmp_case.columns
    dict_ = {x:[] for x in cols}
    dict_['money'] = []
    dict_['patient_ID'] = []
    dict_['gender'] = []
    
    for col in cols:
        dict_[col].append(1)
        
    # for feat in cat_feat:
    #     if feat not in dict_.keys():
    #         dict_[feat] = []
    #         dict_[feat].append(0)
            
    case['check_price'] = case.price.str.match(r'(?:\d*\.\d+|\d+)')
    case = case[case['check_price']==True]
    case.index = range(case.shape[0])
    case.price = case.price.astype('float')
    # print(case)
    try:
        dict_['patient_ID'].append(case.patient_ID[0])
        dict_['money'].append(case.price.sum())
        dict_['gender'].append(case.gender[0])
        dicts.append(dict_)
    except:
        print(counter)
    checks.append(pd.DataFrame(dict_))
    counter = counter + 1
    if counter == 1:
        print(datetime.now())
    if counter % 1000 == 0:
        print(datetime.now())

2022-01-30 23:49:54.689689
986
2022-01-30 23:50:05.524206
2022-01-30 23:50:15.958257
2022-01-30 23:50:26.418832
2022-01-30 23:50:36.804799
2022-01-30 23:50:47.209751
2022-01-30 23:50:57.594203
2022-01-30 23:51:07.970220
7605
7656
2022-01-30 23:51:18.407878
2022-01-30 23:51:28.793622
2022-01-30 23:51:39.184621
2022-01-30 23:51:50.094004
2022-01-30 23:52:00.976626
2022-01-30 23:52:11.799704
2022-01-30 23:52:22.672909
14976
2022-01-30 23:52:33.530857
15561
2022-01-30 23:52:44.414076
2022-01-30 23:52:55.313644
2022-01-30 23:53:06.166716
2022-01-30 23:53:16.992203
2022-01-30 23:53:27.864578
2022-01-30 23:53:38.729061
21022
2022-01-30 23:53:49.558627
2022-01-30 23:54:00.462657
2022-01-30 23:54:11.353555
2022-01-30 23:54:22.665672
25119
2022-01-30 23:54:33.613018
2022-01-30 23:54:44.452842
2022-01-30 23:54:55.293854
2022-01-30 23:55:06.165930
2022-01-30 23:55:17.005618
30941
2022-01-30 23:55:27.872806
31935
2022-01-30 23:55:38.735086
2022-01-30 23:55:49.566620
33334
2022-01-30 23:56:00.549050
2022-01-30 23:56:11.541263
2022-01-30 23:56:22.380945
36762
2022-01-30 23:56:33.332121
2022-01-30 23:56:44.147103
2022-01-30 23:56:54.988793
2022-01-30 23:57:05.892473
2022-01-30 23:57:16.737718
2022-01-30 23:57:27.602679
2022-01-30 23:57:38.462510
2022-01-30 23:57:49.273936
2022-01-30 23:58:00.171519
2022-01-30 23:58:11.006741
2022-01-30 23:58:21.823962
2022-01-30 23:58:32.682927
2022-01-30 23:58:43.533644
2022-01-30 23:58:54.378151
2022-01-30 23:59:05.243231
2022-01-30 23:59:16.109228
2022-01-30 23:59:26.932345
2022-01-30 23:59:37.798456
2022-01-30 23:59:48.661069
2022-01-30 23:59:59.513136
2022-01-31 00:00:10.563470
2022-01-31 00:00:21.460682
2022-01-31 00:00:32.297773
2022-01-31 00:00:43.141281
60981
2022-01-31 00:00:54.006019
2022-01-31 00:01:04.870023
2022-01-31 00:01:15.705455
2022-01-31 00:01:26.589026
2022-01-31 00:01:37.461467
2022-01-31 00:01:48.271307
2022-01-31 00:01:59.129881
67165
2022-01-31 00:02:10.037753
2022-01-31 00:02:20.869367
69746
2022-01-31 00:02:31.761971
70083
2022-01-31 00:02:42.645950
2022-01-31 00:02:57.384242
72357
2022-01-31 00:03:08.416956
73018
2022-01-31 00:03:19.398095
2022-01-31 00:03:30.349202
2022-01-31 00:03:41.247815
2022-01-31 00:03:52.169018
2022-01-31 00:04:03.069381
2022-01-31 00:04:13.959224
2022-01-31 00:04:24.945758
2022-01-31 00:04:35.900395
2022-01-31 00:04:46.783829
2022-01-31 00:04:57.698737
2022-01-31 00:05:08.588358
2022-01-31 00:05:19.431111
2022-01-31 00:05:30.292553
2022-01-31 00:05:41.218883
2022-01-31 00:05:52.120907
2022-01-31 00:06:03.032905
2022-01-31 00:06:13.972813
90649
2022-01-31 00:06:28.329089
2022-01-31 00:06:39.602239
2022-01-31 00:06:51.031296
2022-01-31 00:07:01.960980
2022-01-31 00:07:12.865372
2022-01-31 00:07:23.797179
2022-01-31 00:07:34.705692
2022-01-31 00:07:45.593178
2022-01-31 00:07:56.557141
2022-01-31 00:08:07.502812
2022-01-31 00:08:18.396112
2022-01-31 00:08:29.328014
2022-01-31 00:08:40.393834
2022-01-31 00:08:51.240088
2022-01-31 00:09:02.095576
2022-01-31 00:09:12.933573
2022-01-31 00:09:23.759193
2022-01-31 00:09:34.589208
2022-01-31 00:09:45.460143
2022-01-31 00:09:56.332628
2022-01-31 00:10:07.222558
2022-01-31 00:10:18.115456
2022-01-31 00:10:29.002916
2022-01-31 00:10:39.850488
2022-01-31 00:10:50.719974
2022-01-31 00:11:01.596587
2022-01-31 00:11:12.417747
2022-01-31 00:11:23.268049
2022-01-31 00:11:34.132965
2022-01-31 00:11:44.929393
2022-01-31 00:11:55.780936
2022-01-31 00:12:06.621528
2022-01-31 00:12:20.743983
2022-01-31 00:12:31.647720
2022-01-31 00:12:42.460599
2022-01-31 00:12:53.264713
2022-01-31 00:13:04.043907
2022-01-31 00:13:14.828558
2022-01-31 00:13:25.628669
2022-01-31 00:13:36.403595
2022-01-31 00:13:47.232535
2022-01-31 00:13:58.025370
2022-01-31 00:14:08.773227
2022-01-31 00:14:19.585843
2022-01-31 00:14:30.378645
2022-01-31 00:14:41.164605
2022-01-31 00:14:51.962415
2022-01-31 00:15:02.759333
2022-01-31 00:15:13.574071
2022-01-31 00:15:24.360454
2022-01-31 00:15:35.182795
2022-01-31 00:15:45.999297
2022-01-31 00:15:56.787382
2022-01-31 00:16:07.649634
2022-01-31 00:16:18.477910
2022-01-31 00:16:29.253334
2022-01-31 00:16:40.104590
2022-01-31 00:16:50.986054
2022-01-31 00:21:27.697017
2022-01-31 00:21:39.949870
2022-01-31 00:21:51.735234
2022-01-31 00:22:03.095686
2022-01-31 00:22:13.937268
2022-01-31 00:22:24.806581
2022-01-31 00:22:35.608964
2022-01-31 00:22:46.409339
2022-01-31 00:22:57.258803
2022-01-31 00:23:08.089933
2022-01-31 00:23:18.895113
2022-01-31 00:23:29.752721
2022-01-31 00:23:40.579645
2022-01-31 00:23:51.399919
2022-01-31 00:24:02.235025
2022-01-31 00:24:13.078514
2022-01-31 00:24:23.920704
2022-01-31 00:24:34.777780
2022-01-31 00:24:45.624560
2022-01-31 00:24:56.409329
2022-01-31 00:25:07.268284
2022-01-31 00:25:18.112617
2022-01-31 00:25:28.895576
2022-01-31 00:25:39.731530
2022-01-31 00:25:50.562920
2022-01-31 00:26:01.419380
2022-01-31 00:26:12.297443
2022-01-31 00:26:23.192361
2022-01-31 00:26:33.982376
2022-01-31 00:26:44.825478
2022-01-31 00:26:55.650639
2022-01-31 00:27:06.596560
2022-01-31 00:27:17.759740
2022-01-31 00:27:33.625967
2022-01-31 00:27:44.892156
2022-01-31 00:27:55.976171
2022-01-31 00:28:07.048300
2022-01-31 00:28:18.050954
2022-01-31 00:28:29.390089
2022-01-31 00:28:40.477649
2022-01-31 00:28:52.373237
2022-01-31 00:29:03.511113
2022-01-31 00:29:14.382769
2022-01-31 00:29:25.268329
2022-01-31 00:29:36.125510
2022-01-31 00:29:46.954765
2022-01-31 00:29:57.782131
2022-01-31 00:30:08.627355
2022-01-31 00:30:19.427112
2022-01-31 00:30:30.264945
2022-01-31 00:30:41.108739
2022-01-31 00:30:51.939140
2022-01-31 00:31:02.751764
2022-01-31 00:31:13.616548
2022-01-31 00:31:24.427053
2022-01-31 00:31:35.258218
2022-01-31 00:31:46.101649
2022-01-31 00:31:56.942561
2022-01-31 00:32:07.783641
2022-01-31 00:32:18.630272
2022-01-31 00:32:29.453843
2022-01-31 00:32:40.272062
2022-01-31 00:32:51.088793
2022-01-31 00:33:01.957028
2022-01-31 00:33:12.773806
2022-01-31 00:33:23.612282
2022-01-31 00:33:34.433479
2022-01-31 00:33:45.254562
2022-01-31 00:33:56.101958
2022-01-31 00:34:06.974368
2022-01-31 00:34:17.751490
2022-01-31 00:34:28.581357
2022-01-31 00:34:39.458311
2022-01-31 00:34:50.235139
2022-01-31 00:35:01.064898
2022-01-31 00:35:11.897560
2022-01-31 00:35:22.672299
2022-01-31 00:35:33.411275
2022-01-31 00:35:44.170710
2022-01-31 00:35:54.954579
2022-01-31 00:36:05.674470
2022-01-31 00:36:16.401249
2022-01-31 00:36:27.143891
2022-01-31 00:36:37.838606
2022-01-31 00:36:48.616561
2022-01-31 00:36:59.463262
2022-01-31 00:37:10.247880
2022-01-31 00:37:21.124612
2022-01-31 00:37:31.958710
2022-01-31 00:37:42.752396
2022-01-31 00:37:53.579208
2022-01-31 00:38:04.378970
2022-01-31 00:38:15.103682
2022-01-31 00:38:25.853753

In [80]:
concated = pd.concat(checks)
concated.to_csv('../data/onehote.csv')

In [90]:
concated.fillna(0, inplace=True)

In [95]:
set(concated.columns) -  set(cat_feat)

{'A38',
 'A46',
 'A55',
 'A64',
 'A90',
 'B07',
 'B09',
 'B49',
 'B54',
 'B64',
 'B67',
 'B75',
 'B80',
 'B86',
 'B89',
 'B99',
 'C01',
 'C07',
 'C12',
 'C19',
 'C20',
 'C23',
 'C37',
 'C56',
 'C61',
 'C64',
 'C65',
 'C66',
 'C73',
 'C97',
 'D24',
 'D27',
 'D34',
 'D45',
 'D65',
 'D70',
 'D71',
 'D77',
 'E02',
 'E43',
 'E45',
 'E46',
 'E52',
 'E58',
 'E65',
 'E68',
 'E90',
 'F03',
 'F09',
 'F24',
 'F39',
 'F83',
 'F88',
 'F99',
 'G01',
 'G09',
 'G20',
 'G26',
 'G35',
 'G64',
 'G92',
 'G98',
 'H46',
 'H55',
 'H71',
 'H82',
 'I10',
 'I38',
 'I64',
 'I66',
 'I99',
 'J00',
 'J13',
 'J22',
 'J36',
 'J40',
 'J42',
 'J46',
 'J47',
 'J90',
 'J91',
 'K20',
 'K30',
 'K36',
 'K37',
 'L00',
 'L14',
 'L22',
 'L26',
 'L42',
 'L52',
 'L80',
 'L82',
 'L84',
 'L86',
 'L97',
 'N10',
 'N12',
 'N19',
 'N23',
 'N26',
 'N40',
 'N44',
 'N46',
 'N47',
 'N61',
 'N62',
 'N63',
 'N72',
 'N86',
 'N96',
 'P38',
 'R05',
 'R11',
 'R13',
 'R14',
 'R15',
 'R17',
 'R18',
 'R21',
 'R31',
 'R32',
 'R33',
 'R35',
 'R42',
 'R51',
 'R53',
 'R55',
 'R58',
 'R69',
 'R71',
 'R72',
 'R80',
 'R81',
 'R91',
 'R92',
 'S16',
 'S88',
 'T07',
 'T16',
 'Y60',
 'Y86',
 'Z33',
 'Z38',
 'gender',
 'money',
 'patient_ID'}

In [104]:
concated.money.min()

0.0

In [133]:
data_frames = [pd.DataFrame(x) for x in dicts]

In [142]:
data_frames[7]

,E22,E34,money,patient_ID,gender,J01,S03,E07,S30,J30,...,D04,Z72,B43,C76,I01,W64,X32,C95,L67,E84
0,1,1,5578.0,1150218.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [137]:
df_wide = pd.concat(data_frames)

In [140]:
df_wide.describe()

,M54,N84,money,patient_ID,gender,J01,S03,E07,S30,J30,...,D04,Z72,B43,C76,I01,W64,X32,C95,L67,E84
count,10.000000,10.000000,10.000000,1.000000e+01,10.000000,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
mean,0.100000,0.100000,8344.400000,1.150204e+06,0.900000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.316228,0.316228,12796.806869,1.202035e+01,0.316228,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.000000,1687.000000,1.150188e+06,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.000000,0.000000,2774.750000,1.150198e+06,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.000000,0.000000,4286.500000,1.150204e+06,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.000000,0.000000,7243.750000,1.150215e+06,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.000000,1.000000,44164.000000,1.150222e+06,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Код ниже - попытки заменить ошибочные данные в полях цена и диагноз

В экселе я заметил, что некоторые значения все таки не пропущены, они только лежат совсем в другом месте и попытался несколькими способами их поставить, но
позже понял, что это снова слишком долго и может вообще не принести никакой пользы

In [185]:
price_check = df_sorted.price.astype('float32')

ValueError: could not convert string to float: ' Кратинин'

In [186]:
df_sorted[df_sorted.price == ' Кратинин']

,date_visit,patient_ID,gender,service_code,service_name,service_count,price,price_sale,main_diagnosis,all_diagnosis_codes,specialization
2605377,2019-06-25,1153795.0,0.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
121566,2019-04-04,1318754.0,0.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
1324987,2019-05-14,1381349.0,1.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
778296,2019-04-23,1551863.0,0.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
1636417,2019-05-23,1784162.0,0.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
...,...,...,...,...,...,...,...,...,...,...,...
2507527,2019-06-21,5495234.0,1.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
2302494,2019-06-14,5495271.0,1.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
2634530,2019-06-26,5500009.0,1.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
2287236,2019-06-13,5501625.0,1.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий
2569209,2019-06-24,5509688.0,0.0,3200036,Биохимический анализ крови (Общий белок,Мочевина,Кратинин,Билирубин общий,Аланинаминотрансфераза (АЛТ),Железо,Холестерин общий

In [188]:
df_sc = df_sorted.copy()

In [205]:
df_sc = df_sc[df_sc.price != ' Кратинин']
df_sc = df_sc[df_sc.price != ' Тромбиновое время']
df_sc = df_sc[df_sc.price != ' Группа крови + Резус-фактор']
df_sc = df_sc[df_sc.price != ' Поверхностный антиген вируса гепатита В (австралийский антиген, HbsAg))']
df_sc = df_sc[df_sc.price != ' t4 Лещина обыкновенная (орешник)']
df_sc = df_sc[df_sc.price != 'направлений (с учетом НДС)']
df_sc = df_sc[df_sc.price != ' ДНК микоплазмы (Mycoplasma genitalium)']
df_sc = df_sc[df_sc.price != ' С-реактивный белок']
df_sc = df_sc[df_sc.price != ' Холестерин низкой плотности (ЛПНП, HDL)']

In [206]:
price_check = df_sc.price.astype('float32')

ValueError: could not convert string to float: ' m3 Aspergillus fumigatus, m5 Candida albicans'

In [209]:
errors = []
for idx, row in df_sc.iterrows():
    try:
        value = float(row.price)
    except:
        errors.append(row.price)

In [210]:
len(errors)

377

In [213]:
len(pd.Series(errors).unique())

39

Потеряна некоторая часть данных, точнее они указаны неправильно
Эти потери - неправильное расположение данных, связаны они с анализами, они указаны в таблицах не в тех ячейках (где-то даже не указаны вообще)

Идем их искать!

In [214]:
april_1_15 = pd.read_excel('../data/april_1-15.xlsx')
april_16_30 = pd.read_excel('../data/april_16-30.xlsx')
may_1_15 = pd.read_excel('../data/may_1-15.xlsx')
may_16_31 = pd.read_excel('../data/may_16-31.xlsx')
june_1_15 = pd.read_excel('../data/june_1-15.xlsx')
june_16_30 = pd.read_excel('../data/june_16-30.xlsx')

KeyboardInterrupt:

In [215]:
dasha = pd.concat([april_1_15, april_16_30, may_1_15, may_16_31, june_1_15, june_16_30], ignore_index=True)

In [216]:
dasha.rename(columns={'Дата':'date', 'Дата рождения':'birth', 'Пол':'gender', 'Полис':'insurance', 'Код услуги':'service_code', 
       'Наименование услуги':'service_name', 'Кол-во услуг':'service_count', 'Стоимость по прайсу':'price', 
       'Стоимость':'price_sale', 'МКБ10':'main_diagnosis', 'Зуб':'tooth', 'МКБ10_1':'all_diagnosis_codes', 'Специальность':'specialization'}, 
         inplace=True)

In [219]:
errors_codes = {'errors': [], 'codes':[]}
for idx, row in df_sc.iterrows():
    try:
        value = float(row.price)
    except:
        errors_codes['errors'].append(row.price)
        errors_codes['codes'].append(row.service_code)

In [235]:
comparer = pd.DataFrame(errors_codes).drop_duplicates()

In [238]:
comparer.rename(columns={'codes': 'service_code'}, inplace=True)

In [223]:
df_sorted[df_sorted.service_code == '3210046']

,date_visit,patient_ID,gender,service_code,service_name,service_count,price,price_sale,main_diagnosis,all_diagnosis_codes,specialization
1419916,2019-05-16,3431610.0,1.0,3210046,"ImmunoCAP. Пыльца сорных трав, микст wx2 (w2 А...",w6 Полынь обыкновенная (чернобыльник),w9 Подорожник ланцетолистный,w10 Марь белая,w15 Лебеда),КДЦП,212597
1199441,2019-05-08,4941699.0,1.0,3210046,"ImmunoCAP. Пыльца сорных трав, микст wx2 (w2 А...",w6 Полынь обыкновенная (чернобыльник),w9 Подорожник ланцетолистный,w10 Марь белая,w15 Лебеда),КДЦП,212597
1199442,2019-05-08,4941699.0,1.0,3210046,"ImmunoCAP. Пыльца сорных трав, микст wx2 (w2 А...",w6 Полынь обыкновенная (чернобыльник),w9 Подорожник ланцетолистный,w10 Марь белая,w15 Лебеда),КДЦП,212597

In [269]:
dasha[dasha.service_code == 3200048].iloc[:,4:15].doc_id.mean()

1819.4

In [239]:
merge_res = dasha.merge(right=comparer, how='right', on='service_code')

In [243]:
dasha[dasha.service_code.isin(list(comparer.service_code))]

Empty DataFrame
Columns: [date, patient_ID, birth, gender, insurance, service_code, service_name, service_count, price, price_sale, main_diagnosis, tooth, doc_id, all_diagnosis_codes, specialization, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26]
Index: []

[0 rows x 27 columns]

In [244]:
comparer

                                                errors service_code
0        m3 Aspergillus fumigatus, m5 Candida albicans      3210036
1                         g5 Райграс пастбищный/Плевел      3210044
2                                      Антиген CA 19-9      3200052
3     уточнающий диагноз и оценка эффективности леч...      3200007
4       d2 Клещ домашней пыли/Dermatophagoides farinae      3210035
6                                             Мочевина      3200044
7             Пепсиноген I/Пепсиноген II (соотношение)      3200048
9     d1 Клещ домашней пыли/Dermatophagoides pterоn...      3210061
12                                           Креатинин      3200035
13                                             Инсулин      3200047
15                                  e3 Лошадь, перхоть      3210037
16                     Антитела к вирусу краснухи, IgM      3200055
17                                     f37 Синяя мидия      3210048
18                           f216 Капуста белокочанная      3210053
19                                f18 Бразильский орех      3210054
20                                           f92 Банан      3210056
31                                              t8 Вяз      3210041
37    Антитела к вирусу простого герпеса (Herpes si...      3200054
46                                                 ДНК      3200065
48    Поверхностный антиген вируса гепатита В (авст...      3200058
49    ДНК микоплазмы (Mycoplasma genitalium), колич...      3200061
50    уточняющий диагноз и оценка эффективности леч...      3200005
52   ДНК гарднереллы (Gardnerella vaginalis) + ДНК ...      3200068
54                                     Билирубин общий      3200041
57                                           Пролактин      3200070
81                          состояние иммунной системы      3122011
83                ДНК лактобацилл (Lactobacillus spp.)      3200069
99                                         Общий белок      3200033
107   Антитела к лямблиям (Lamblia intestinalis), с...      3200059
112                       w9 Подорожник ланцетолистный      3210045
115                      Натрий, калий, хлор (Na/K/Cl)      3200040
121   ДНК микоплазмы (Mycoplasma hominis), количест...      3200063
122                                        f8 Кукуруза      3210050
149                                        Паратгормон      3200046
177                                    Билирубин общий      3200050
185                       w9 Подорожник ланцетолистный      3210046
193                                     e86 Утка, перо      3210039
197   амфетамин и его производные (амфетамин, метам...      3180114
206                                    Антиген CA 19-9      3200053
237                              Пролактин ( АМН, MiS)      3200056
330                                       t7 Дуб белый      3210042
347   Поверхностный антиген вируса гепатита В (авст...      3200043
358             Трийодтиронин свободный (Т3 свободный)      3200051

In [272]:
'''
3210036 : 1340
3200052 : 2105
3210044 : 1327
3200007 : 2300
3210035 : 1255
3200044 : 316
3200048 : 1819 
'''

'\n3210036 : 1340\n3200052 : 2105\n3210044 : 1327\n3200007 : 2300\n3210035 : 1255\n3200044 : 316\n3200048 : 1819 \n'